<form [formGroup]="regisForm" class="text-secondary">
  <div class="row">
    <div class="col-sm fieldForm">
      <label class="col" for="regisName">Nombre</label>
      <input
        formControlName="firstName"
        type="text"
        class="form-control form-control-sm"
        id="regisName"
      />
    </div>
    <div class="col-sm fieldForm">
      <label class="col" for="regisLast">Apellido</label>
      <input
        formControlName="lastName"
        type="text"
        class="form-control form-control-sm"
        id="regisLast"
      />
    </div>
    <div class="col-sm fieldForm">
      <label class="col" for="regisEmail">Correo</label>
      <input
        formControlName="email"
        type="email"
        class="form-control form-control-sm"
        id="regisEmail"
        pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$"
      />
    </div>
    <!-- Custom Cliente -->
    <div class="col-sm fieldForm">
      <label class="col" for="regisCode">Código</label>
      <input
        formControlName="code"
        type="text"
        class="form-control form-control-sm"
        id="regisCode"
      />
    </div>
  </div>
  <!-- Dinamicos -->
  <input-dynamic #DynamicsRender [dynamics]="dynamics"></input-dynamic>
  <!-- Boton -->
  <div class="row fieldForm mt-3">
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary btn-sm col"
        [disabled]="regisForm.invalid"
        (click)="send()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</form>
