<ng-container *ngIf="data">
  <div class="paper">
    <div class="row h-100">
      <div class="col-4">
        <div class="row h-100 align-items-center code-container" id="qrcode">
          <qrcode [qrdata]="data.code"></qrcode>
        </div>
      </div>
      <div class="col-8 data-container">
        <div class="row text-left data">
          <div class="name" id="name">
            {{ data.firstName }} {{ data.lastName[0] }}.
          </div>
          <div class="divider my-2"></div>
          <div class="company" id="company">Empresa o Compania</div>
          <div class="country" id="country">Pais</div>
        </div>
        <div class="row water-mark">
          <div class="col-12">
            <img src="./img/logo.png" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
