<ng-container *ngIf="data">
  <div #template class="paper">
    <div class="row h-100">
      <div class="row row-cols-1 align-items-center col-auto">
        <div>
          <img src="assets/img/logo_icomet.png" width="160px" height="auto" alt="logo">
        </div>
      </div>
      <div class="col row row-cols-1 align-items-center">
        <div>
          <div class="name" id="name">
            <h2>{{ data.firstName }} {{ data.lastName }}.</h2>
          </div>
          <div class="my-2"></div>
          <div class="company" id="company">
            <h4>{{ data.dynamics?.position || "" }}</h4>
        </div>
        <div class="country" id="country">
          <h2>{{ data.dynamics?.number || "" }}</h2>
        </div>
      </div>
      </div>
      <div class="row row-cols-1 col-auto" style="max-width: min-content !important">
        <div class="qr-container">
          <qrcode [qrdata]="data.code" [width]="180"></qrcode>
        </div>
      </div>
    </div>
  </div>
</ng-container>
