<div class="flex-column nav-pills" role="tablist" aria-orientation="vertical">
  <a
    class="nav-link mt-4"
    routerLink="dashboard"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-dashboard"></i> Dashboard</a
  >
  <a
    class="nav-link mt-4"
    routerLink="proyectos"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-product-hunt"></i> Proyectos</a
  >
  <a
    class="nav-link mt-4"
    routerLink="remitentes"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-envelope"></i> Remitentes</a
  >
  <a
    class="nav-link mt-4"
    routerLink="plantillas"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-clone"></i> Plantillas</a
  >
  <hr />
  <a
    class="nav-link mt-4"
    routerLink="usuarios"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-user"></i> Usuarios</a
  >
  <a
    class="nav-link mt-4"
    routerLink="usuarios/roles"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-user"></i> Roles</a
  >
  <a
    class="nav-link mt-4"
    routerLink="usuarios/permisos"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-user"></i> Permisos</a
  >
</div>
