a {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
}

.active {
  background-color: #ffffff !important;
  border-radius: 0 !important;
  color: #333 !important;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.barb-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.barb-container img {
  width: 35px;
}
.barb-container span {
  color: #17a2b8;
  font-size: small;
}

@media screen and (max-width: 768px) {
  img {
    max-width: 256px;
  }

  a {
    text-align: center;
  }
}
