.active {
  background-color: #17a2b8 !important;
  border-radius: 0 !important;
}

a {
  color: #17a2b8;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.barb-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.barb-container img {
  width: 35px;
}
.barb-container span {
  color: #17a2b8;
  font-size: small;
}

@media screen and (max-width: 768px) {
  img {
    max-width: 256px;
  }

  a {
    text-align: center;
  }
}
