<div class="w-100 bg-white my-4 shadow logo-container">
  <img
    src="assets/img/logo.png"
    alt="logo"
    style="max-height: 80px; width: auto"
  />
</div>
<div
  class="nav flex-column nav-pills"
  role="tablist"
  aria-orientation="vertical"
>
  <a
    class="nav-link mt-4"
    routerLink="dashboard"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-dashboard"></i> Dashboard</a
  >
  <a
    class="nav-link mt-4"
    routerLink="proyectos"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-dashboard"></i> Proyectos</a
  >
  <a
    class="nav-link mt-4"
    routerLink="settings"
    (click)="onSelected()"
    routerLinkActive="active"
    ><i class="fa fa-setting"></i> Configuraciones</a
  >
</div>

<div style="position: absolute; bottom: 0; left: 0; margin: 2px">
  <lib-logout></lib-logout>
</div>
