<style>
  html,
  body,
  #grid-container {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 40px 1fr;
  }
</style>

<div id="grid-container">
  <nav class="navbar bg-primary p-0 h-100 d-flex justify-space-between">
    <!-- Nav -->
    <div class="mx-2">
      <img
        src="assets/img/logo.png"
        alt="logo"
        style="max-height: 40px; width: auto"
      />
    </div>
    <div>
      <div class="btn-group dropleft" dropdown>
        <button
          id="button-user"
          dropdownToggle
          type="button"
          class="btn dropdown-toggle text-white"
          aria-controls="dropdown-basic"
        >
          <i class="fa fa-user"></i> {{ user.username }}
          <span style="font-size: x-small">({{ user.email }})</span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-user"
        >
          <li role="menuitem"><a class="dropdown-item" href="#">Info</a></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Ayuda</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem" class="dropdown-item">
            <lib-logout> <span role="button">Salir </span> </lib-logout>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-white">
    <div class="h-100 row m-0">
      <div class="col p-0 h-100" style="max-width: fit-content">
        <!-- Side -->
        <label #label_menu for="menu-active" class="menu-toggle"
          ><i
            class="fa fa-bars text-info p-2"
            role="button"
            aria-hidden="true"
          ></i
        ></label>
        <input #cb_menu type="checkbox" id="menu-active" />
        <div
          style="background-color: var(--bs-gray-dark)"
          class="h-100 side-client"
        >
          <label for="menu-active" class="close-menu p-2" role="button">
            <i class="fa fa-close"></i>
          </label>
          <side-client (selected)="label_menu.click()"></side-client>
        </div>
      </div>
      <!-- ----------------- -->
      <div class="col">
        <!-- Main -->
        <br />
        <div class="container">
          <router-outlet></router-outlet>
        </div>
        <alerts style="z-index: 90"></alerts>
      </div>
    </div>
  </div>
</div>
