<!-- add Dynamic -->
<div class="card shadow mx-3">
  <div class="card-body">
    <add-dynamics (submit)="addDynamic($event)"></add-dynamics>
  </div>
</div>
<br />
<div class="card shadow mx-3">
  <div class="card-body">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>
            <!-- Options -->
          </th>
          <th scope="col">Tabla</th>
          <th scope="col">Campo</th>
          <th scope="col">Label</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dynamic of dynamics">
          <th>
            <i
              class="fa fa-trash"
              role="button"
              (click)="deleteDynamic(dynamic.id)"
            ></i>
          </th>
          <td>{{ dynamic.table }}</td>
          <td>{{ dynamic.field }}</td>
          <td>{{ dynamic.fieldLabel }}</td>
          <td>{{ dynamic.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
