<!-- add Dynamic -->
<h5 class="text-center">Campos Dinámicos</h5>
<div class="card shadow">
  <div class="card-body">
    <div class="row text-secondary form">
      <div class="col-sm">
        <label for="table">Tabla</label>
        <input
          class="form-control"
          type="text"
          id="table"
          [(ngModel)]="table"
          readonly
        />
      </div>
      <div class="col-sm">
        <label for="field">Campo</label>
        <input
          class="form-control"
          type="text"
          id="field"
          [(ngModel)]="field"
        />
      </div>
      <div class="col-sm">
        <label for="fieldLabel">Label</label>
        <input
          class="form-control"
          type="text"
          id="fieldLabel"
          [(ngModel)]="fieldLabel"
        />
      </div>
      <div class="col-sm">
        <label for="type">Tipo</label>
        <input class="form-control" type="text" id="type" [(ngModel)]="type" />
      </div>
    </div>
    <div class="row">
      <div class="col mt-4">
        <button class="btn btn-primary col" (click)="addDynamic()">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="card shadow">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>
            <!-- Options -->
          </th>
          <th scope="col">Tabla</th>
          <th scope="col">Campo</th>
          <th scope="col">Label</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dynamic of dynamics">
          <th>
            <i
              class="fa fa-trash"
              role="button"
              (click)="deleteDynamic(dynamic.id)"
            ></i>
          </th>
          <td>{{ dynamic.table }}</td>
          <td>{{ dynamic.field }}</td>
          <td>{{ dynamic.fieldLabel }}</td>
          <td>{{ dynamic.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
