<div class="container container-fluid">
  <label class="form-label">API KEY</label>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="APP KEY"
      aria-label="APP KEY"
      aria-describedby="button-addon2"
      #inputApiKey
      disabled
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      (click)="copyClipboard(inputApiKey.value)"
    >
      <i class="fa fa-clipboard"></i>
    </button>
  </div>
  <h4 class="text-center">Proyectos (0)</h4>
  <div
    class="projects-box card"
    style="background-color: rgba(255, 255, 255, 0.4) !important"
  ></div>
  <h4 class="text-center mt-4">Equipos Conectados ({{ systems.length }})</h4>
  <div class="d-flex" style="flex-flow: row">
    <item-system
      [system]="system"
      *ngFor="let system of systems"
      class="m-4"
    ></item-system>
  </div>
</div>
