<div class="card shadow">
  <div class="card-header"></div>
  <div class="card-body table-responsive">
    <table class="table table-white table-hover">
      <thead>
        <tr>
          <th></th>
          <th>id</th>
          <th>Nombre</th>
          <th>Aforo</th>
          <th>Afluencia</th>
          <th>Sala Padre</th>
          <th>Sala Hija</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="rooms">
          <tr *ngFor="let room of rooms">
            <td><i class="fa fa-map"></i></td>
            <td>{{ room.id }}</td>
            <td>{{ room.name }}</td>
            <td>{{ room.capacity }}</td>
            <td class="text-danger">pendiente</td>
            <td class="text-danger">pendiente</td>
            <td class="text-danger">pendiente</td>
            <td class="text-right">
              <i class="fa fa-pencil text-success mx-2" role="button"></i>
              <i
                class="fa fa-trash text-danger mx-2"
                role="button"
                (click)="delete(room.id)"
              ></i>
              <i
                class="fa fa-link mx-2"
                role="button"
                (click)="createMobileUrl(room.id)"
              ></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div
    style="display: none"
    *ngIf="!clipboardMobileActive; else mobileTokenClipboard"
  >
    clipboard false
  </div>
</div>

<ng-template #mobileTokenClipboard>
  <div
    class="modal-content animate__animated animate__fadeIn modal-clipboard"
    style="width: 50%"
  >
    <div class="modal-header">
      <span style="float: left">Enlace para Mobile CheckIn</span>
      <i
        class="fa fa-close"
        role="button"
        (click)="clipboardMobileActive = false"
        style="float: right"
      ></i>
    </div>
    <div class="modal-body">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="mobileToken"
        readonly
      />
    </div>
  </div>
</ng-template>
