<div *ngIf="dataRooms">
  <div>
    <div class="row">
      <div class="col-sm-9">
        <i
          class="fa fa-plus"
          role="button"
          (click)="openModal(addEditTemplate)"
        ></i>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          class="form-control"
          (keyup.enter)="getRooms({ limit: 15, offset: 0 })"
          [(ngModel)]="dataRoomsFilter"
          placeholder="Buscar"
        />
      </div>
    </div>
  </div>
  <table-rooms
    [data]="dataRooms"
    (page)="getRooms($event)"
    (select)="onSelect($event)"
    (exportReport)="exportAsistancesByRoom($event)"
  ></table-rooms>
</div>

<!-- Add Room -->
<ng-template #addEditTemplate>
  <!-- <div>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body"> -->
  <add-room></add-room>
  <!-- </div> -->
</ng-template>
