:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-image: url(/admin/assets/img/bg1.jpg);
  background-size: cover;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.error {
  padding: 10px;
  width: 300px;
  color: white;
  background-color: red;
  margin-bottom: 3px;
  border-radius: 0.25rem;
}

.button {
  display: flex;
  justify-content: flex-end;
}
