<ngx-datatable
  *ngIf="registrantsData"
  class="bootstrap"
  [rows]="registrantsData.data"
  columnMode="force"
  [footerHeight]="50"
  [rowHeight]="60"
  [selected]="selected"
  [selectionType]="selectionType.checkbox"
  [externalPaging]="true"
  [count]="registrantsData.count"
  [offset]="registrantsData.offset"
  [limit]="registrantsData.limit"
  (page)="onPage($event)"
  (select)="onSelect($event)"
>
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
  >
  </ngx-datatable-column>
  <ngx-datatable-column
    [cellTemplate]="contextMenuTemplate"
    [width]="50"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
  >
  </ngx-datatable-column>
  <ngx-datatable-column prop="firstName" name="Nombre">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <span
        title="Double click to edit"
        (dblclick)="editing[rowIndex + '-firstName'] = true"
        *ngIf="!editing[rowIndex + '-firstName']"
      >
        {{ value }}
      </span>
      <input
        autofocus
        (blur)="updateValue($event, 'firstName', rowIndex)"
        *ngIf="editing[rowIndex + '-firstName']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="lastName" name="Apellidos">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <span
        title="Double click to edit"
        (dblclick)="editing[rowIndex + '-lastName'] = true"
        *ngIf="!editing[rowIndex + '-lastName']"
      >
        {{ value }}
      </span>
      <input
        autofocus
        (blur)="updateValue($event, 'lastName', rowIndex)"
        *ngIf="editing[rowIndex + '-lastName']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="email" name="Correo">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <span
        title="Double click to edit"
        (dblclick)="editing[rowIndex + '-email'] = true"
        *ngIf="!editing[rowIndex + '-email']"
      >
        {{ value }}
      </span>
      <input
        autofocus
        (blur)="updateValue($event, 'email', rowIndex)"
        *ngIf="editing[rowIndex + '-email']"
        type="text"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Código"
    [cellTemplate]="codeTemplate"
  ></ngx-datatable-column>

  <ng-template #codeTemplate let-row="row">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text text-danger"
          ><i
            class="fa fa-qrcode"
            role="button"
            (click)="QRTouched(row.code)"
          ></i
        ></span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="80"
        value="{{ row.code }}"
        readonly
      />
    </div>
  </ng-template>
  <ng-template #contextMenuTemplate let-row="row">
    <i
      class="fa fa-check-circle {{
        row.connected > 0 ? 'text-success' : 'text-secondary'
      }} mr-2"
    ></i>
    <span
      dropdown
      (onShown)="(false)"
      (onHidden)="(false)"
      (isOpenChange)="(false)"
    >
      <i
        dropdownToggle
        (click)="(false)"
        aria-controls="basic-link-dropdown"
        class="fa fa-caret-down"
        role="button"
      ></i>
      <ul
        id="basic-link-dropdown"
        *dropdownMenu
        class="dropdown-menu shadow"
        role="menu"
        aria-labelledby="basic-link"
      >
        <li class="dropdown-item" role="button">
          <i class="fa fa-edit"></i> Editar
        </li>
        <li class="dropdown-item" role="button" (click)="deleteItem(row.id)">
          <i class="fa fa-trash"></i> Eliminar
        </li>
        <li class="dropdown-item" role="button" (click)="sendMail(row)">
          <i class="fa fa-paper-plane"></i> Enviar correo
        </li>
        <li class="divider dropdown-divider"></li>
        <li
          class="dropdown-item"
          role="button"
          (click)="handlePrintStickerEvent(row)"
        >
          <i class="fa fa-print"></i> Imprimir Sticker
        </li>
        <li class="dropdown-item" role="button">
          <i class="fa fa-bar-chart"></i> Gráfico de asistencia
        </li>
      </ul>
    </span>
  </ng-template>
  <ng-container *ngFor="let dynamic of dynamics">
    <ngx-datatable-column
      [name]="dynamic.fieldLabel"
      [prop]="'dynamics.' + dynamic.field"
    >
      <ngx-datatable-column prop="email" name="Correo">
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-' + dynamic.field] = true"
            *ngIf="!editing[rowIndex + '-' + dynamic.field]"
          >
            {{ value }}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, dynamic.field, rowIndex, true)"
            *ngIf="editing[rowIndex + '-' + dynamic.field]"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable-column>
  </ng-container>
</ngx-datatable>
