<add-registrant></add-registrant><br />
<div class="ag-theme-balham card shadow">
  <div class="card-header">
    <span style="float: right; font-size: 1.2rem" class="text-primary">
      <i
        class="fa fa-ban"
        role="button"
        title="Eliminar Registro"
        (click)="dropDB()"
      ></i>
      <label for="import">
        <i class="fa fa-upload ml-3" role="button" title="Importar"></i>
      </label>
      <input
        type="file"
        name="import"
        id="import"
        style="display: none"
        (change)="importDB($event)"
      />
      <i
        class="fa fa-file-excel-o ml-3"
        role="button"
        (click)="exportTable()"
        title="Exportar como CSV"
      ></i>
    </span>
  </div>
  <ag-grid-angular
    #agGrid
    style="height: 480px; font-size: 1rem"
    [rowData]="registrants"
    [context]="context"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableRangeSelection]="true"
    [rowSelection]="'multiple'"
    [suppressRowClickSelection]="true"
    [autoGroupColumnDef]="{ minWidth: 200 }"
    [editType]="'fullRow'"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    (rowValueChanged)="inlineUpdate($event)"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>

<ng-container *ngIf="qrData">
  <div
    class="bg-white shadow card animate__animated animate__fadeIn qr-container"
    draggable="true"
  >
    <div>
      <h5 class="text-right">
        <i class="fa fa-close mr-2" (click)="closeQR()" role="button"></i>
      </h5>
    </div>
    <div class="card-body p-2">
      <qrcode
        #qr
        [qrdata]="qrData"
        [margin]="1"
        [elementType]="'img'"
        [width]="200"
        (click)="downloadQR($event)"
        role="button"
        title="Descargar"
      ></qrcode>
    </div>
  </div>
</ng-container>
