<ngx-datatable
  *ngIf="registrantsData"
  class="bootstrap"
  [rows]="registrantsData.data"
  columnMode="force"
  [footerHeight]="50"
  [rowHeight]="60"
  [selected]="selected"
  [selectionType]="selectionType.checkbox"
  [externalPaging]="true"
  [count]="registrantsData.count"
  [offset]="registrantsData.offset"
  [limit]="registrantsData.limit"
  (page)="onPage($event)"
  (select)="onSelect($event)"
>
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
  >
  </ngx-datatable-column>
  <ngx-datatable-column
    [cellTemplate]="contextMenuTemplate"
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
  >
  </ngx-datatable-column>
  <ngx-datatable-column prop="firstName" name="Nombre"></ngx-datatable-column>
  <ngx-datatable-column prop="lastName" name="Apellidos"></ngx-datatable-column>
  <ngx-datatable-column prop="email" name="Correo"></ngx-datatable-column>
  <ngx-datatable-column
    name="Código"
    [cellTemplate]="codeTemplate"
  ></ngx-datatable-column>

  <ng-template #nameTemplate let-row="row">
    <a routerLink="">{{ row.firstName }} {{ row.lastName }}</a>
  </ng-template>
  <ng-template #codeTemplate let-row="row">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text text-danger"
          ><i
            class="fa fa-qrcode"
            role="button"
            (click)="QRTouched(row.code)"
          ></i
        ></span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="80"
        value="{{ row.code }}"
        readonly
      />
    </div>
  </ng-template>
  <ng-template #contextMenuTemplate let-row="row">
    <span
      dropdown
      (onShown)="(false)"
      (onHidden)="(false)"
      (isOpenChange)="(false)"
    >
      <i
        dropdownToggle
        (click)="(false)"
        aria-controls="basic-link-dropdown"
        class="fa fa-caret-down"
        role="button"
      ></i>
      <ul
        id="basic-link-dropdown"
        *dropdownMenu
        class="dropdown-menu shadow"
        role="menu"
        aria-labelledby="basic-link"
      >
        <li class="dropdown-item" role="button">
          <i class="fa fa-edit"></i> Editar
        </li>
        <li class="dropdown-item" role="button" (click)="deleteItem(row.id)">
          <i class="fa fa-trash"></i> Eliminar
        </li>
        <li class="dropdown-item" role="button" (click)="sendMail(row)">
          <i class="fa fa-paper-plane"></i> Enviar correo
        </li>
        <li class="divider dropdown-divider"></li>
        <li
          class="dropdown-item"
          role="button"
          (click)="handlePrintStickerEvent(row)"
        >
          <i class="fa fa-print"></i> Imprimir Sticker
        </li>
        <li class="dropdown-item" role="button">
          <i class="fa fa-bar-chart"></i> Gráfico de asistencia
        </li>
      </ul>
    </span>
  </ng-template>
  <ng-container *ngFor="let dynamic of dynamics">
    <ngx-datatable-column
      [name]="dynamic.fieldLabel"
      [prop]="'dynamics.' + dynamic.field"
    ></ngx-datatable-column>
  </ng-container>
</ngx-datatable>
