<nav class="nav nav-tabs">
  <a class="nav-link" routerLinkActive="active" routerLink="configuraciones"
    >Proyecto</a
  >
  <a class="nav-link" routerLinkActive="active" routerLink="registro"
    >Registro</a
  >
  <a class="nav-link" routerLinkActive="active" routerLink="salas">Salas</a>
  <a class="nav-link" routerLinkActive="active" routerLink="equipos">Equipos</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
    >Disabled</a
  >
</nav>
<router-outlet></router-outlet>
