<div>
  <h6 class="text-info" routerLink="{{ project.id }}">
    {{ project.name }}
  </h6>
  <div class="d-flex justify-content-between">
    <span style="font-size: smaller">
      Registros: {{ project.registrantsCount }} | Salas:
      {{ project.roomsCount }} |
      <span class="text-{{ project.Sender ? 'success' : 'danger' }}"
        ><i class="fa fa-envelope"></i>
        {{ project.Sender ? project.Sender.user : "" }} -
        {{ project.Sender?.host }}</span
      >
    </span>
    <span
      ><i
        class="fa fa-trash text-danger"
        style="font-size: smaller"
        role="button"
        (click)="deleteProject(project.id)"
      ></i
    ></span>
  </div>
</div>
