<div class="card shadow">
  <form class="card-body row">
    <div class="col-sm">
      <label for="roomName">Nombre</label>
      <input type="text" class="form-control form-control-sm" id="roomName" />
    </div>
    <div class="col-sm">
      <label for="roomCapacity">Aforo</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="roomCapacity"
      />
    </div>
    <div class="col-sm">
      <label for="roomConnected">Afluencia</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="roomConnected"
      />
    </div>
    <div class="col-sm">
      <label for="roomChildrens">Sala Padre</label>
      <select class="form-control form-control-sm" id="roomChildrens"></select>
    </div>
    <div class="col-sm">
      <label style="opacity: 0">S</label>
      <button class="btn btn-sm col-sm btn-primary">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </form>
</div>
